fastapi
uvicorn
spacy
scrubadub
presidio-analyzer[transformers]
faker
pydantic
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter_otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests