<router-outlet />
<div class="fixed top-4 right-4">
  <app-switch-mode />
</div>
<div class="min-h-screen flex flex-col items-center py-10 px-6">
  <div class="w-full max-w-5xl rounded-2xl shadow-xl p-8 md:p-10 space-y-8 border border-gray-100 bg-white dark:bg-gray-800">
    <h2 class="text-3xl font-bold text-gray-800 dark:text-gray-100 text-center">⚙️Ofuscador de texto</h2>

    <div class="space-y-4">
      <label class="block text-lg font-medium text-gray-700 dark:text-gray-100">Texto a ofuscar</label>
      <textarea
        [(ngModel)]="texto_a_ofuscar"
        class="w-full min-h-[160px] p-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-300 focus:border-blue-500 resize-y text-gray-700 dark:text-gray-100 bg-gray-50 dark:bg-gray-700"
        placeholder="Introduce el texto aquí..."
      ></textarea>
    </div>

    @if (texto_a_ofuscar()) {
      <div class="flex justify-end">
        <button
          (click)="ofuscar(texto_a_ofuscar())"
          class="py-2.5 px-6 bg-blue-600 text-white rounded-lg font-semibold hover:bg-blue-700 transition transform hover:scale-[1.02]"
          type="button"
        >
          🔒 Ofuscar
        </button>
      </div>
    

      @if (mapeos()) {
        <div class="grid md:grid-cols-2 gap-8 pt-6 border-t border-gray-200">
          <!-- Texto Ofuscado -->
          <div class="space-y-3">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-100 flex items-center gap-2">
              <span class="text-blue-600">🌀</span> Texto Ofuscado
            </h3>
            <pre class="bg-gray-50 dark:bg-gray-700 rounded-lg p-4 text-gray-800 border dark:text-gray-100 border-gray-200 whitespace-pre-wrap break-words"> {{ texto_ofuscado() }}</pre>
          </div>

          <!-- Mapeos -->
          <div class="space-y-3">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-100 flex items-center gap-2">
              <span class="text-purple-600">🧩</span> Mapeos
            </h3>
            <pre class="bg-gray-50 dark:bg-gray-700 rounded-lg p-4 text-gray-700 dark:text-gray-100 border border-gray-200 text-sm overflow-x-auto">{{ mapeos() | json }}</pre>
          </div>

          <!-- Texto Desofuscado -->
          <div class="md:col-span-2 space-y-3">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-100 flex items-center gap-2">
              <span class="text-green-600">🔓</span> Texto Desofuscado
            </h3>

            <button
              (click)="desofuscar()"
              class="w-full md:w-auto py-2.5 px-6 bg-green-600 text-white rounded-lg font-semibold hover:bg-green-700 transition transform hover:scale-[1.02]"
              type="button"
            >
              Desofuscar
            </button>
            @if (this.texto_desofuscado()) {
              <pre class="bg-gray-50 dark:bg-gray-700 rounded-lg p-4 text-gray-800 dark:text-gray-100 border border-gray-200 whitespace-pre-wrap break-words mt-2">{{ texto_desofuscado() }}</pre>
            }
          </div>
        </div>
      }
    }
  </div>
</div>
